
.topNavMain {
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  width: 100%;
  background-color: white;

  
}



.bottomNavMain {
  display: flex;
  justify-content: center;
  padding: 1.5rem 0;
  width: 100%;
  background-color: #F02B7D;
  border: #010B0A 5px solid;
  border-radius: 50px
}
.ulTopNavMain {
  list-style-type: none;
  padding: 0;
  margin: 0;
  
}


.liTopNavMainLink:hover {
 border-radius: 50px;
 border: #000000 4px solid;
 box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
 
}

.liTopNavMainLink:hover {
  background-color: #FB9E35;
  color: #010B0A;

}

.dropdownUXCaseStudies {
  position: relative;
  display: inline-block;
  padding: 10px 10px;
  border-radius: 50px;
  border: #000000 4px solid;
  background-color: #6F2A87;
  color: #FFFDFE;


}


.liTopNavMain {
  font-size: 28px;
  display: inline-block;
  padding-bottom: 3px;
  margin-right: 2rem;
  display: inline-block;
  justify-content: center;
}

.liTopNavMain .liTopNavMainLink {
  text-decoration: none;
  padding: 10px


}
.black {
  color: #000000;
}

.white {
  color: #FFFDFE;
}

.active {
  border: #010B0A 5px solid;
  border-radius: 50px;
  box-shadow: 0 6px 10px 0 rgba(0,0,0,0.2);
  background-color: #720b36;
  color: #FFFDFE;
  }

header {

    overflow: hidden;
  }
  
  .bodyFont {
    font-family: "winco", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 18px;
    background-color: #FFFDFE;
  
  }
  

.liNavTop:focus { 
  outline: none; 
  border: #271e14 2px dotted;
  margin: 10px;
}

.footerTexted {
 
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  background-color: #F02B7D;
  color: #FFFDFE;
  padding: 10px;
  margin: 0;
  
  
}

.socialli {
  display:inline-block;
}

.socialli a {
  text-decoration: none;
  color: #FFFDFE;
  
  
}
.socialli a:hover {
  text-decoration: none;
  color: #000000;
  padding: 10px;
  margin: 0;
}

.social{
  display: flex;
  justify-content: center;
  padding: 1.5rem;

}

.footerTexted:hover {
  
  color: #000000;
  
font-weight: 700;
}

  .liNavTop {
    display: inline-block;
    padding: 10px 10px;
    margin: 10px 10px;
  background-color: #F02B7D;
  color: #010B0A; 
  font-size: 25px;
  justify-self: center;
  }
  
  .dancingWitch {
    width: 100%;
    height: auto;
  }
  
  .liNavTop .NaBarLink{
    text-decoration: none;
  color: #FFFDFE;
  }
  
  .CSpadding {
    padding: 5%;
  }
  
  .NavBarLink:hover {
    text-decoration: none;
  
  }
  
  body {
    font-family: "winco", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  background-color: #FFFDFE;
  
  
  }

  .wrwLink {
    text-decoration: none;
    color: #F02B7D;
    border-bottom: #F02B7D 2px solid;
    font-weight: 600;
  }

  .wrwLink:hover {
    text-decoration: none;
    color: #8a244e;
    border-bottom: #8a244e 2px solid;
  }

  .wrwLink:focus {
    text-decoration: none;
    color: #F02B7D;
    border: #4b6360 2px dashed;
  }
  
  .liNavTop:hover {
    box-shadow: rgba(240, 46, 170, 0.4) 5px 5px,
     rgba(240, 46, 170, 0.3) 10px 10px,
      rgba(240, 46, 170, 0.2) 15px 15px, 
      rgba(240, 46, 170, 0.1) 20px 20px, 
      rgba(240, 46, 170, 0.05) 25px 25px;
   
  }
  
  .naBarLink {
    text-decoration: none;
    color: #FFFDFE;
    
  }
  .threeBlocksmiddleBig {
  display: grid; 
  grid-template-columns: 2fr 3fr 2fr; 
   margin: 0 5%;
   grid-gap: 20px;
   padding: 5rem 0;
  }
  
  .heroImg {
    width: 100%;
    height: auto;
  }
  
  .naBarLink:hover {
    border-bottom:#FFFDFE 2px solid;
   
  }
  
  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  /* About CSS */
  
  .gridTwoBlocks {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
  }
  
  .mainBoarder {
    border: #010B0A 10px solid;
    width: 100%;
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;;
  }

  .tealLine {
    height: auto;
    width: 100%;
    background-color: #0AD6BF;
    margin-top: 10rem;
    }
    .mainFont {
      font-family: "bungee", sans-serif;
      font-weight: 600;
      font-style: normal;
      color: #010B0A;
    font-size: 4.5rem;
    
   
  
  }

  .mainFontPurple {
    font-family: "bungee", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #6F2A87;
  font-size: 4.0rem;
  border-bottom: #010B0A 5px dashed;
  
 

}


  .oneLongtwoBlocks {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
    padding: 20px;
  }


  .twoBlocksOneLong {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 20px;
    padding: 20px;
  }

  .box {
    border: #010B0A 5px solid;
    border-radius: 45%;
    background-color: #6F2A87;
    width: 50%;
    height: 150px; margin-top: 10rem;
    
  }

.boxLink {
  border: #010B0A 5px solid;
  border-radius: 45%;
  background-color: #F02B7D;
  width: 75%;
  height: auto; 
  margin-top: 10rem; 
  text-decoration: none;
box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;;
}

.boxLink:hover {
  border: #010B0A 5px solid;
  border-radius: 45%;
  background-color: #6F2A87;
  width: 75%;
  height: auto; 
  margin-top: 10rem; 
box-shadow: rgba(19, 223, 223, 0.774) 0px 20px 40px, rgba(69, 164, 202, 0.829) 
0px 10px 10px;;

}

.box:focus a {
  border: #010B0A 5px dotted;
}


.textArea {
  display: flex;
  justify-content: center;
  align-items: center;
  color:#FFFDFE;
  text-align: center;
  margin: 1% auto;
  font-family: "bungee", sans-serif;
  font-size: 3.5rem;
  text-decoration: none;
}

  .inthemiddle {
    display: flex;
    justify-content: center;
    align-items: center;
    color:#FFFDFE;
    text-align: center;
    margin: 1% auto;
    font-family: "bungee", sans-serif;
    font-size: 3.5rem;
  }

  .fontLevelTwo {
   
    font-weight: 700;
    font-style: normal;
    font-size: 3.5rem;
  
  }
  .backgroundSWOTColor {
    background-color: #FB9E35;
    text-align: center;
    padding: 5%;
  }
  
  
  .fontLevelThree {
   
    font-weight: 700;
    font-style: normal;
    font-size: 2.5rem;
  
  }
  
  
  .lineThin {
  height: 5px;
  width: 100%;
  background-color: #6F2A87;
  margin: 20px 0;
  }
  
  .fourBlocks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
  }
  
  
  .threeBlocks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 20px;
    padding: 20px;
  
  }
  
  .pojectHeadline {
    float: right;
    font-size: 18px;
    font-family: "winco", sans-serif;
    padding: 2%;
    background-color: #FB9E35;
    margin-bottom: 2%;
  }
  
  .leftProject {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 20px;
    padding: 20px;
  }
  
.marginTop {
  margin-top: 50px;
}


  
  .projectBox {
    box-shadow: 10px 10px 0px 1px rgba(39,7,51,1);
    -webkit-box-shadow: 10px 10px 0px 1px rgba(39,7,51,1);
    -moz-box-shadow: 10px 10px 0px 1px rgba(39,7,51,1);
    border: #010B0A 5px solid;
    height: auto;
    width: 100%;
  }
  
  .blogSubtittle {
    font-size: 20px;
    font-weight: 900;
    font-style: normal;
   width: 100%;
   
   
  background: #FB9E35;
  
  }
  
  
  .projectDate{
    float: right;
    font-size: 14px;
  background: #F2DA1B;
  padding: 4px; 
  }
  .projectpadding {
    padding: 10px;
    width: 100%;
  }
  .projectSubtitle {
    font-size: 20px;
    font-weight: 900;
    font-style: normal;
   width: 100%;
   margin: 35px 0 10px 0;
   height: 50px;
  }
  
  .projectTitle {
    font-size: 30px;
    font-weight: 900;
    font-style: normal;
   width: 100%;
   margin: 10px 0;
   height: 50px;
  }
  
  .footnote a {
    text-decoration: none;
    color: #FFFDFE;
    border-bottom: #FFFDFE 2px dotted
  }

  .projectButtonPurple {
    margin: 45px 5%;
    border: #010B0A 3px solid;
    font-weight: 700;
    border-radius: 8px;
    font-size: 14px;
    padding: 0 10px;
    background-color: #6F2A87;
    color: #FFFDFE;
    height: 48px;
    width: 90%;
    line-height: 24px;
    touch-action: manipulation;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;}
  
.projectButtonPurple:focus  { 
  border: #F2DA1B 2px dotted;
}

.projectButtonPurple:hover { 
  background-color: #FFFDFE;
  outline: 0;
  color: #6F2A87;
}


  
  .projectButton {
    margin: 45px 5%;
    font-weight: 700;
    border: #010B0A 3px solid;
    border-radius: 8px;
    font-size: 14px;
    padding: 0 10px;
    background-color: #F2DA1B;
    color: #010B0A;
    height: 48px;
    width: 90%;
    line-height: 24px;
    touch-action: manipulation;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;}
  
  
  .projectDescription {
    
  }
  
  /* CSS */
  
  .projectButton:after {
  
    border-radius: 8px;
    content: "";
    display: block;
    height: 48px;
    left: 0;
    width: 100%;
    position: absolute;
    top: -2px;
    transform: translate(8px, 8px);
    transition: transform .2s ease-out;
    z-index: -1;
  }
  
  

  
  
  .projectButton:hover {
    outline: 1rem;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
 font-weight: 700;
    
  }
  
  .ojBox {
    border-top: #010B0A 5px solid;
    background-color: #FB9E35;
    width: 100%;
    height: 150px;
  bottom: 0;
  }
  
  .yellowBox {
    border-top: #010B0A 5px solid;
    background-color: #F2DA1B;
    width: 100%;
    height: auto;
  bottom: 0;
  }
  
  .propadding {
    margin-bottom: 2px;
    width: 100%;
  }
  
  .projectLink {
    text-decoration: none;
    color: #010B0A;
  }
  
  .imgProject {
    width: 100%;
    height: 500px;
  }
  

.email {
  font-size: 20px;
  padding-bottom: 3px;
  color : #6F2A87;
  text-decoration: none;
  border-bottom: #6F2A87 2px solid;

}

.email:hover { 
  color : #F02B7D;
  border-bottom: #F02B7D 2px solid;
}

.email:focus { 
  border: #000000 2px dotted;
}

  .skillItems {
    list-style-type: none;
  
    padding: 0 0 0 1rem;
  }

  .listItems {
    list-style-type: none;
  
    padding: 0 0 0 1rem;
  
  }
  .tab {
    padding: 0 0 0 3rem; 
  }
  
  .listItems li::before {
    content: "\2743";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #FB9E35; /* Change the color */
    font-weight: bold; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
  }

  .listItem {
    list-style-type: none;
  
    padding: 0 0 0 1rem;
  
  }
  .tab {
    padding: 0 0 0 3rem; 
  }
  
  .listItem li::before {
    content: "\2748";  /* Add content: \2022 is the CSS Code/unicode for a bullet */
    color: #6F2A87; /* Change the color */
    font-weight: 900; /* If you want it to be bold */
    display: inline-block; /* Needed to add space between the bullet and the text */
    width: 1em; /* Also needed for space (tweak if needed) */
    margin-left: -1em; /* Also needed for space (tweak if needed) */
  }
  
  .designImg {
    width: 100%;
    height: auto;
  }
  
  
  .footerBox {
    background-color: #e11c6e;
    color:#FFFDFE;
  width: 95%;
  height: auto;
  font-size: 16px;
  border:#010B0A 10px solid;
  border-radius: 50px;
  
  
  }
  
  .footnote {
    padding: 0 0 10px 0;
    margin-left: 35% ;
  }
  
  .ulNavBottom {
    font-size: 16px;
    padding-bottom: 3px;

    margin-right: 2rem;
  }
  
  .column {
    flex: 1;
    padding: 10px;
  }
  



  .navBottom {
    
    display: flex;
    justify-content: center;
    padding: 1.5rem 25%;
    margin: 2rem 10rem;
  
  }
  
  .center {
    text-align: center;
  
    padding: 1.5rem 25%;
  }
  
  .ulNavBottom {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .ilFirstNavBottom {
    font-size: 16px;
    padding-bottom: 3px;
  }
  
  .projectButtonoj {
    font-weight: 700;
    margin: 45px 5%;
    border: #010B0A 3px solid;
    border-radius: 8px;
    font-size: 14px;
    padding: 0 10px;
    background-color: #FB9E35;
    color: #010B0A;
    height: 48px;
    width: 90%;
    line-height: 24px;
    touch-action: manipulation;
    box-sizing: border-box;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;}
  
    .projectLinkoj:active {
      background-color: #010B0A;
      outline: 0;
      color: #FB9E35;
      padding: 5px;
      border: #010B0A 1px solid;
    }
  
    
  .ojBox {
    border-top: #010B0A 5px solid;
    background-color: #FB9E35;
    width: 100%;
    height: 150px;
  bottom: 0;
  
  }
  
  .projectButtonoj:focus  {
    border: #F2DA1B 2px dotted;
  }

  
  .projectButtonoj:hover {
    background-color: #010B0A;
    outline: 0;
    color: #FB9E35;
  }
  
  .projectButtonoj:hover:after {
    transform: translate(0, 0);
  }
  
  .projectButtonoj:active {
    background-color: #010B0A;
    outline: 0;
    color: #FB9E35;
  }
  
  .projectButtonoj:hover {
    outline: 0;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  }
  
  @media only screen and (min-width: 320px) and (max-width: 479px) { 
    .gridTwoBlocks { 
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 20px;
    }
  .threeBlocks {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 20px;}
  
   }
  .navbarTop {
    display: grid;
    grid-template-columns: 1fr;
  }
   .footerBox {
    background-color: #F02B7D;
    color:#FFFDFE;
    width: 100%; 
    margin: 0;
  }
  
  .fourBlocks {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 20px;
  }
  
  .topicLineL 
  {
  background-color: #6F2A87;
    width: 100%;
    margin-top: 25px;
    height: 5px;
    
  }

  footer {
    margin-top: 5rem;
  }
  
  .padding {
   margin: 20px;
  }
  
  
  .gridTopics {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    grid-gap: 20px;
    padding: 10px 20px;
  }
  
  /* Small devices (landscape phones, less than 768px)*/
  @media only screen and (min-width: 480px) and (max-width: 767px) {  
  .gridTwoBlocks { 
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 20px;
    }
    .threeBlocks {
      display: grid;
      grid-template-columns: 1fr;
      grid-gap: 20px;
      padding: 20px;}
  }
  
  .fourBlocks {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 20px;
  }
  
  .navbarTop {
    display: grid;
    grid-template-columns: 1fr;
  }
  
  .mainBoarder {
    border: #010B0A 10px solid;
    width: 100%;
    padding: 10px;
    box-shadow: rgba(0, 0, 0, 0.19) 
    0px 10px 20px, 
    rgba(0, 0, 0, 0.23) 0px 6px 6px;
  }
  
  .mainInfo {
    text-align: center;
  
  }
  
  .footerBox {
    background-color: #F02B7D;
    color:#FFFDFE;
    width: 100%; 
    margin: 0;
  }
  .fourBlocks {
    display: grid;
    grid-template-columns: 1fr
    1fr;
    grid-gap: 20px;
    padding: 20px;
  }
  
  
  /* Large devices (desktops, less than 1200px)*/
  @media only screen and (min-width: 768px)  { 
    .navbarTop {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    }
    .footerBox {
      background-color: #F02B7D;
      color:#FFFDFE;
  
    border-radius: 50px;
  
    
    }
    .fourBlocks {
      display: grid;
      grid-template-columns: 1fr
      1fr 1fr 1fr;
      grid-gap: 20px;
      padding: 20px;
    }
    
    
  
  }


.heroImg {
 
    width: 100%;
    height: auto;
    padding: 0 5% ;
  }

  .mainInfo {
    text-align: center;
  }
.nameSize {
  font-size: 2.5rem;
  font-weight: 700;
  color: #010B0A;
}

.fontBig {
  font-size: 4.5rem;
  font-weight: 700;
  color: #010B0A;
  font-family: "omnes-pro", sans-serif;

}

  @media (max-width: 767.98px) { 
    .heroImg {
      width: 100%;
      height: auto;
    }
    .mainInfo {
      text-align: center;
    }

  }